

{% block title %}New Image{% endblock %}

{% block body %}
    <h1>Create new Image</h1>

    {{ include('admin/image/_form.html.twig') }}

    {% for imagelist in imageList %}
        <img src="{{ asset('uploads') }}/images/{{ imagelist.image }}" alt="" height="200">
        <a href="{{ path('admin_image_del', {'id': imagelist.id,'pid': imagelist.productid}) }}" onclick="return confirm('Emin misiniz?');" class="btn btn-small btn-danger">Sil</a>
    {% endfor %}

{% endblock %}
