{% extends 'adminbase.html.twig' %}
{% block title %} Ürün Düzenle {% endblock %}
{% block body %}
    {% block sidebar %} {{ include ('admin/adminsidebar.html.twig') }} {% endblock %}
    {% block content %}
        <a style="margin-left: 15px" href="{{ path('admin_product_index') }}" class="btn btn-large btn-warning">Listeye Dön</a>
        <div class="module-body table">
            {{ include('flashMessages.html.twig') }}
            <div  id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                {{ include('admin/product/_form.html.twig') }}

            </div>
        </div>
    {% endblock %}
{% endblock %}






